.countries {
  margin-left: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin: auto; */
  margin: 3rem;
}

img {
  width: 15rem;
  height: 10rem;
  /* border-radius: 0.5rem; */
  /* padding-top: 0rem; */
}

.oneCountry {
  /* display: flex; */
  /* position: top; */
  width: 15rem;
  border: 0.1rem solid navy;
  margin-bottom: 6rem;
  border-radius: 0.3rem;
  /* background-color: blue; */
  box-shadow: 0.25rem 0.5rem #f7f4f4;
  }

  .nameC {
    font-weight: bold;
    padding: 0.5rem;
  }

  .info {
    /* font-weight: bold; */
    padding: 0.5rem;
  }

.regionsearch {
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  padding: 2rem 16rem 0rem 3rem; 
}

