.countries {
  margin-left: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin: auto; */
  margin: 3rem;
}

img {
  width: 15rem;
  height: 10rem;
}

.oneCountry {
  width: 15rem;
  border: 0.1rem solid navy;
  margin-bottom: 6rem;
  }

  .nameC {
    font-weight: bold;
    padding: 0.5rem;
  }

  .info {
    font-weight: bold;
    padding: 0.5rem;
  }



